
@font-face {
    font-family: "timess";
    src: url(../Fonts/times_sans_serif/TIMESS__.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header{
    display: grid;
    place-items: center;
    background-color: white;
}

.logo {
    width: 250px;
}

nav {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background-color:white; 
}

nav ul li a:hover {
    color:rgba(128, 128, 128, 0.973)
    ;
}

ul {
    padding: 0;
}

li, a {
    list-style: none;
    text-decoration: none;
    color:black;
    font-size: 24px;
    }

.container {
    margin-left: 40%;
}

body {
    font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
}


h1 {
font-family: "timess";
font-size: 38px;
color: black; 
text-align: center;
margin-top: 20px;
}

h2 {
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}

p {
text-align: justify;
padding: 10px ;
}
article {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.img-small {
text-align: center;
width: 600px;
min-width: 230px;
border-radius: 15px;
}



p {
    font-size: large;
    font-family: "timess";
    font-style: oblique;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.contacto {
    text-align: center ;

}

footer {
height: 150px;
padding: 15px;
margin-top: 40px;
background-color: grey;
    nav {
        background-color: grey;
    }
            ul {
            background-color: grey;
            }
}

@media (max-width:1023px) {
    .img-small {
        max-width: 500px;
    }
    header{
        display: grid;
        place-items: center;
        }
        
    .logo {
        width: 200px;
        }

    nav {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
    }
        
    ul {
    padding: 0;
    }
        
    li, a {
    list-style: none;
    text-decoration: none;
    color:black;
    font-size: 15px;        
            } 
    
    h1 {
    font-size: 22px;
    }

    h2, p {
        font-size: 14px;
    }
        
}
@media (max-width:480px) {
    .img-small {
        max-width: 300px;
        margin: 10px, 10px;

    }
    header{
        display: grid;
        place-items: center;
        background-color: white;
        }
        
    .logo {
        width: 150px;
        }

    nav {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
    }
        
    ul {
    padding: 0;
    }
        
    li, a {
    list-style: none;
    text-decoration: none;
    color:black;
    font-size:  smaller;        
            } 
    
    h1 {
    font-size: 10;
    }
        
}