
@font-face {
    font-family: "timess";
    src: url(../Fonts/times_sans_serif/TIMESS__.ttf);
}


* {
    background-color: black;
    
}

.logo {
    max-width: 300px;
}

.nav-link {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

ul {
    align-items: center;
    display: flex;
    justify-content: center;
    li {
        
    }
}


h1 {
    font-family: "timess";
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.774);
    padding: 10px;
}

.titulo {
    margin-top: 1px;
}


h2 {
    padding: 20px;
    margin-left: 60px;
    color: rgba(255, 255, 255, 0.767);
    text-decoration: underline;
}
p {
    padding: 80px;
    margin-left: 70px;

    font-size: 18px;
    color: rgba(255, 255, 255, 0.767);
}

.carousel-inner {
    width: 600px;
    height: 700px;
}

/*
.carousel-item {
    width: 500px;
    height: 600px;
}
*/